amqp==2.6.1
asgiref==3.3.1
Babel==2.9.0
billiard==3.6.3.0
braintree==3.59.0
cairocffi==1.2.0
CairoSVG==2.5.2
cart==1.2.1
celery==4.4.2
certifi==2020.12.5
cffi==1.14.5
chardet==4.0.0
cssselect2==0.4.1
defusedxml==0.7.1
Django==3.0.13
django-localflavor==3.0.1
django-parler==2.2
django-rosetta==0.9.6
flower==0.9.3
html5lib==1.1
idna==2.10
kombu==4.6.11
Pillow==7.0.0
polib==1.1.0
psycopg2-binary==2.8.4
pycparser==2.20
pycryptodome==3.10.1
Pyphen==0.10.0
python-stdnum==1.16
pytz==2021.1
redis==3.5.3
requests==2.25.1
SHop==0.0.2
six==1.15.0
sqlparse==0.4.1
tinycss2==1.1.0
tornado==5.1.1
urllib3==1.26.4
vine==1.3.0
WeasyPrint==52.4
webencodings==0.5.1
